body {
    font-family:monospace;
    background:rgb(1, 5,1);
    color:white;
}

.logo {
    color:green;
}

.blink {
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
  to { visibility: hidden; }
}
@-webkit-keyframes blink {
  to { visibility: hidden; }
}

h2 {
    text-align:center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
